{% extends "base-noheader.html" %}
{% block title %}RoomName{% endblock %}
{% block head_attr %}ng-app="billsplit"{% endblock %}
{% block body_attr %}bs-room{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/room.css') }}">

{% endblock %}
{% block content %}

<bs-menu></bs-menu>



<bs-tabs>
  <bs-pane bs-title="Orders">

    <bs-order-list></bs-order-list>

    </bs-pane>
    <bs-pane bs-title="Wallet">
      <bs-wallet></bs-wallet>
    </bs-pane>
    <bs-pane bs-title="Ready!">
      <div>Oh really...</div>
    </bs-pane>
  </bs-tabs>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.2.28/angular-animate.js"></script>
<script src="{{ url_for('static', filename='js/fastclick.js') }}" ></script>
<script src="{{ url_for('static', filename='room/room.js') }}" ></script>
<script src="{{ url_for('static', filename='room/controllers/RoomCtrl.js') }}"></script>
<script src="{{ url_for('static', filename='room/directives/ng-click-select.js') }}"></script>
<script src="{{ url_for('static', filename='room/directives/directives.js') }}"></script>
<script src="{{ url_for('static', filename='room/directives/tabs/bs-tabs.js') }}"></script>
<script src="{{ url_for('static', filename='room/directives/wallet/bs-wallet.js') }}"></script>
<script src="{{ url_for('static', filename='room/directives/panel/bs-panel.js') }}"></script>
<script src="{{ url_for('static', filename='room/directives/multi-transclude.js') }}"></script>
<script src="{{ url_for('static', filename='room/directives/room/bs-room.js') }}"></script>
<script src="{{ url_for('static', filename='room/directives/menu/bs-menu.js') }}"></script>
<script src="{{ url_for('static', filename='room/directives/input/bs-input.js') }}"></script>
<script src="{{ url_for('static', filename='room/directives/order/bs-order.js') }}"></script>

{% endblock %}

{% block footer %}
  <div style="text-align: center">Made by Yujin Ariza</div>
{% endblock %}
